.app__navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
}

.app__navbar-bottom {
    width: 100%;
    display: none;
}

.app__navbar-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app__navbar-logo img {
    width: 210px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    color: var(--color-lightSilver);
}

.app__navbar-links li:hover {
    color: var(--color-gold)
}

.app__navbar-order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-order a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
    color: var(--color-lightSilver);
}

.app__navbar-order div {
    width: 1px;
    height: 30px;
    background-color: var(--color-lightSilver);
}

.app__navbar-order a:hover {
    border-bottom: 1px solid var(--color-gold);
    color: var(--color-gold)
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen svg {
    min-width: 100px;
}

.app__navbar-smallscreen .app__navbar-order {
    font-size: 2rem;
}

.app__navbar-smallscreen .app__navbar-order a:hover {
    border: 0;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;

    flex-direction: column;
    z-index: 5;
}

.overlay__close {
    font-size: 27px;
    color: var(--color-lightSilver);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-lightSilver);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover, .dropdown-button:hover {
    color: var(--color-gold)
}



.dropdown {
    position: relative;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
}

.dropdown-button {
    cursor: pointer;
    color: var(--color-lightSilver);
    background-color: transparent;
    border: none;
    font-size: inherit;
    min-width: 100px;
}

.dropdown-content {
    opacity: 0;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 100%; /* Position dropdown content below button */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    border: 1px solid var(--color-lightSilver);
    min-width: 100px;
    transition: opacity 0.75s ease;
}

.dropdown-content button {
    color: var(--color-lightSilver);
    background-color: var(--color-black);
    padding: 12px 16px;
    display: block;
    width: 100%;
    outline: 0;
    transition: all 1s ease;
    border: 0;
}

.dropdown-content button:hover {
    background-color: var(--color-lightSilver);
    cursor: pointer;
    color: var(--color-black);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
}

.dropdown:hover .dropbtn {
    color: var(--color-gold);
}

@media screen and (max-width: 1150px) {
    .app__navbar-links, .app__navbar-order {
        display: none;
    }

    .app__navbar-top .app__navbar-lang {
        display: none;
    }

    .app__navbar-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .app__navbar-smallscreen, .app__navbar-smallscreen .app__navbar-order {
        display: flex;
    }

    .app__navbar-booking {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar-bottom {
        justify-content: space-evenly;
    }
    
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-booking {
        display: none;
    }

    .app__navbar-logo img {
        width: 250px;
    }
}