.app__menu {
    flex-direction: column;
    background-color: var(--color-black);
    border-top: 1rem solid var(--color-gold);
    min-height: 100vh;
    width: 100%;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.app__menu-inventory {
    width: 100%;
}

.inventory-carousel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-start;
    color: var(--color-lightSilver);
}

.inventory-carousel .control-arrow {
    background-color: black !important;
}

.menu__category {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;

}

.headtext__tenor {
    color: var(--color-gold);
}

.inventory-item {
    width: 100%;
}

.inventory-item img {
    width: 100%;
}

.app__menu .tools {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.app__menu .tools .custom__button {
    flex: 1;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal img {
    margin: auto;
    width: 90%;
    height: 80vh;
    object-fit:contain;
    z-index: 12;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
