.app__aboutUs {
    min-height: 100vh;
    justify-content: center;
    color: var(--color-gold);
    position: relative;
    border-top: 1rem solid var(--color-gold);
}

.app__aboutUs p {
    z-index: 1;
    line-height: 40px;
    text-transform: none;
    text-align: left;
    color: var(--color-lightSilver);
}

.app__aboutUs-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.app__aboutUs-carousel {
    max-width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app__aboutUs-carousel .carousel-slider {
    flex: 1;
}

.app__aboutUs-carousel li {
    list-style: none;
}


.carousel .aboutUs__content-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.app__aboutUs-video {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.app__aboutUs-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__aboutUs-video_overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

.app__aboutUs-carousel .carousel .slider-wrapper {
    width: 90%;
    margin: auto;
}


@media screen and (max-width: 1050px) {
    .app__aboutUs-content {
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 0;
    }
}

@media screen and (max-width: 850px) {
    .carousel .aboutUs__content-img {
        width: 200px;
    }

    .app__aboutUs{
        padding: 0;
    }

    .app__aboutUs-carousel {
        margin: auto;
        padding: 5rem 0;
    }

    .app__aboutUs .headtext__tenor {
        font-size: 64px;
    }
}

@media screen and (max-width: 700px) {
    .app__aboutUs-content {
        padding: 0 2rem;
    }
}