.p__tenor {
  font-family: var(--font-base);
  color: var(--color-gold);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-lightSilver);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-size: 16px;
}

.headtext__tenor {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 90px;
  line-height: 100px;
  letter-spacing: 0.04em;
  font-weight: normal !important;
  text-transform: capitalize;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__padding {
  padding: 4rem 6rem;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 100%;
}

.horizontal__divider {
  width: 5vw;
  margin: 0.5rem 0 0.5rem 0;
  border: 1px solid white;
}

.custom__button {
  background-color: var(--color-lightGold);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.custom__button:hover {
  opacity: 0.7;
}

.app__bg {
  background: url('./assets/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__top {
  position: relative;
}


.app__top-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: -1;
}

.app__top-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app__top-video_overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

.loading {
  background-color: var(--color-black);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: none;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading.fade-out {
  animation: fadeOutAnimation 0.5s ease-in-out forwards;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__tenor {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__tenor {
    font-size: 150px;
    line-height: 210px;
  }

}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 80%;
  }

  .custom__button {
    padding: 0.75rem 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }

  .headtext__tenor {
    font-size: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }


  .custom__button {
    line-height: 28px;
    font-size: 20px;
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (max-width: 590px) {
  .p__opensans {
    font-size: 16px;
    line-height: 22px;
  }

  .p__tenor {
    font-size: 19px;
  }

  .headtext__tenor {
    font-size: 54px;
  }
}