@font-face {
  font-family: 'TenorSans';
  src: url(./assets/fonts/Tenor_Sans/TenorSans-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url(./assets/fonts/Open_Sans/static/OpenSans-Regular.ttf) format('truetype'),
  url(./assets/fonts/Open_Sans/static/OpenSans-Bold.ttf) format('truetype');
  font-display: swap;
}

:root {
  --font-base: 'TenorSans', serif;
  --font-alt: 'OpenSans', sans-serif;  

  --color-gold: #CFB483;
  --color-lightGold: #F2DEC5;
  --color-lightSilver: #C9C9CB;
  --color-darkSilver: #87868B;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}